*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.section {
display: flex;
justify-content: center;
align-items: center;
height: 100dvh;
flex-direction: column;
}

h1{
    font-size: 2rem;
}

.kotak {
    box-sizing: border-box;
    border: 1px solid rgba(137, 43, 226, 0.244);
    padding: 1rem;
    text-align: left;
    width: 400px;
    margin-top: 2rem;
}


.box-username,
.box-password {
    text-align: left;
    margin-top: 0.7rem;
}



.box-username input,
.box-password input{
    width: 23rem;
    border-radius: 5px;
    border: 1px solid rgba(137, 43, 226, 0.244);
    height: 2rem;
}


.button button {
    width: 100%;
    margin-top: 1rem;
    height: 2rem;
    border-radius: 2px;
    border: 1px solid rgba(137, 43, 226, 0.244);
    color: wheat;
}

.button .merah {
    background-color: red;
}
.button .biru {
    background-color: blue;
}

.button {
    text-align: center;
    justify-content: space-between;
    display: flex;
    gap: 1rem;
}